.block {
  display: inline-block;
  position: absolute;
  transition: width $animation-time, height $animation-time, top $animation-time, left $animation-time;
  overflow: hidden;
}

.freewall {

  position: relative;

}
