
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { 
  margin: 0; 
  padding: 0; 
}

::-moz-selection { 
  color: #333; 
  text-shadow: none; 
}

::selection {  
  color: #333; 
  text-shadow: none; 
}

.clear:after { 
  visibility: hidden; 
  display: block; 
  font-size: 0; 
  content: " "; 
  clear: both; 
  height: 0; 
}

.clear { 
  display: inline-table; 
  clear: both; 
}

/* Hides from IE-mac \*/ 
* html .clear { 
  height: 1%; 
} 

.clear { 
  display: block; 
} /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { 

  background-color: #82a0ee;
  width: 100%; 
  height: 100%; 
  
  font-family: 'open_sanslight', sans-serif;
  font-size: 16px;
  font-weight: 100;

}

@font-face {
    font-family: 'frente_h1regular';
    src: url('../fonts/FrenteH1-Regular-webfont.eot');
    src: url('../fonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrenteH1-Regular-webfont.woff') format('woff'),
         url('../fonts/FrenteH1-Regular-webfont.ttf') format('truetype'),
         url('../fonts/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.center-inline-children {
  text-align: center;
}

.flex-column {

  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;


}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

/****************************************
  ==== CONTENT
****************************************/

#content {

  background-color: #bde2d0;
  color: #5e985e;

  width: 50%;

  min-width: 840px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: none;

  margin: auto;

  position: relative;
  z-index: 10;

}

#content * {

  margin: 10px;

}

#content h1 {

  font-family: 'frente_h1regular';
  font-size: 80px;
  font-weight: 100;
  padding-top: 10px;
}

#modal {

  background-color: rgba(0,0,0,0.6);
  display: none;
  position: fixed;

  z-index: 5;
  width: 100%;
  height: 150%;
        
  top: 0px;
  left: 0px;

}

#content_close_btn {

  width: 45px;
  height: 45px;
  z-index: 20;

  float: right;
  margin: 10px;

  font-family: Arial;
  font-size: 55px;

}

#introduction_logo {
  background: url("../images/bungus_logo.png") no-repeat center;
  background-size: contain;

  z-index: 3;
  width: 432px;
  height: 240px;

  position: fixed;
  top: 15px;
  left: 20px;
}

#island {
  background: url("../images/bungusland_island.png") no-repeat center;
  position: fixed;
  z-index: 2;
  width: 960px;
  height: 646px;
  margin: auto;
}

.pane_button {

  position: absolute;
  width: 80px;
  height: 60px;
  display: inline-block;

}

/****************************************
  ==== VIDEO PANE
****************************************/

#video_previews {

  display: inline;

}

.video_preview {

  width: 240px;
  height: 180px;

}

.video_preview img {

  height: 135px;
  margin: 0px !important;

}

/*****************************************
  ==== BEHIND THE SCENES
******************************************/

#behind_the_scenes {

  display: inline;

}

.behind_the_scenes_content {

  width: 320px;
  height: 180px;

}

.behind_the_scenes_content img {

  margin: 0px !important;

}

/*****************************************
  ==== INTRO
******************************************/

.intro_writeup {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

/*****************************************
  ==== SCRIPTS AND SYNOPSIS
******************************************/

#pdfs {
  margin: 10px auto;
  padding-top: 10px;
}

.pdf {
  margin: 0px !important;
  text-align: center;
  font-size: 20px;
  width: 128px;
}

.pdf_icon {
  width: 108px;
  height: 128px;
  background-repeat: no-repeat;
}

.pdf a {
  color: darkgreen;
  text-decoration: none;
}

.pdf a span {
  display: block;
}

.pdf a:visited {
  color: darkgreen;
}

.pdf a:hover {
  color: #2e2;
}

/***************************************
  ==== MUSIC
****************************************/

#music {
  position: fixed;
  cursor: pointer;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 32px;
  background: url("../images/audio_icon.png");
  z-index: 10;
}

/*****************************************
  ==== SHOWCASE
******************************************/

#showcase_container {

  width: 800px;
  height: 600px;

  position: fixed;
  z-index: 15;

  margin: auto;

  background-color: black;

}

#showcase {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}

.showcase_btn {

  width: 80px;
  height: 80px;

  top: 50%;

  position: absolute;
  display: inline-block;

  z-index: 18;

}

#showcase_close_btn {
  position: absolute;

  right: -30px;
  top: -30px;

  width: 20px;
  height: 30px;

  color: #eee;
  font-size: 30px;
  font-family: Arial;

}

#showcase_next_btn {
  right: -80px;
  background-image: url('../images/showcase_arrow_next.png');
}

#showcase_prev_btn {
  left: -80px;
  background-image: url('../images/showcase_arrow_prev.png');
}

.pane_footer {

  width: 770px;
  height: 150px;

  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
}

#behind_scenes_pane_footer {
  background-image: url("../images/footer_behind_the_scenes.png");
}

#scripts_pane_footer {
  background-image: url("../images/footer_scripts.png");
  height: 170px;
}

#video_pane_footer {
  background-image: url("../images/footer_video.png");
}

#music_pane_footer {
  height: 180px;
  background-image: url("../images/footer_music.png");
}

.behind_scenes_image {
  display: inline;
  text-align: center;
}

.vimeo_behind_scenes {
  display: block;
}

.vimeo_video {
  display: block;
}

