extends unity

block variables
	- var unityPackageName = "BungusLand"
	- var unityCanvasHeight = 540
	- var unityCanvasWidth = 960

block above_canvas
	H1=unityPackageName

//block under_canvas
//	div BungusLand is really amazing. :)