extends ./layout.jade

block content
	.private-portfolio-index
		a(href='?resetDataCache') Reset Vimeo Data
		h1 Private Portfolios (aka Reels)
		for portfolio in portfolios
			h2 
				a(href='/private/portfolio/'+portfolio.id)= portfolio.name