extends ./layout.jade

block content
	.video-controls
		- var pageTitle = '';
		- var videoName = video.name;
			h1.video-name 
				if ( currentPortfolioName ) 
					a(href='/private/portfolio/'+currentPortfolioId).video-portfolio= currentPortfolioName
					span &nbsp;&gt;&nbsp;
				span= video.name
			if ( currentPortfolioName )
				if ( prevVideoId )
					a.prev-video(href='/videos/'+prevVideoId+'?portfolio='+currentPortfolioId) &larr; previous
				span.video-count= 'video #'+currentVideoIndex+' of '+totalVideoCount
				if ( nextVideoId )
					a.next-video(href='/videos/'+nextVideoId+'?portfolio='+currentPortfolioId) next &rarr;
	.video-player
		iframe(src='//player.vimeo.com/video/'+video.id+'?title=0&byline=0&portrait=0&autoplay=1', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
	script.
		// prev video
		Mousetrap.bind('left', function() { 
			window.location=document.getElementsByClassName('prev-video')[0].href;
		});
		// next video
		Mousetrap.bind('right', function() { 
			window.location=document.getElementsByClassName('next-video')[0].href;
		});