extends ./layout.jade

block content
	div.job-posting
		p Global Mechanic is hiring a team on a 1 year contract to build digital property for a well known children’s series beginning Q3 of 2015. 
		p The team will be responsible for all aspects of development, testing, movement and interactivity:
		ul
			li iOS and Android tablet app 
			li content playback, drawing tool and artwork staging portal 
			li pre-building animated assets for short linear narrative pieces
			li content based on existing property (children’s book series on art making) 
		p Current positions and skills needed:
		ul 
			li Javascript
			li C++
			li Unity Developers
			li Technical Directors
			li Animation Directors
			li Technical Animators (Rigging)
			li UX Designers
			li Visual Designers
			li Illustrators
			li 2D & 3D Animators 
			li Jr. Developers
		p Need to provide CV, rate requirements and availability for immediate consideration. This is an opportunity to do something no one has done yet, in an original fashion with an entirely new set of directions. If you can’t think outside of the box, do not apply. 
		p Global Mechanic is an award winning digital animation studio. The last series we worked on for this same client was nominated for a 2015 Daytime Emmy. Come be a part of an awesome group, in a beautiful workspace.
		p Please contact: <a href="mailto:allison@globalmechanic.com">allison@globalmechanic.com</a>