#about-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#staff-wall {
  margin-bottom: 2rem;
}

#about-writeup {

  padding-top: 0rem;
  flex: 1;

  h1 {
    font-size: 3.75rem;
    line-height: 0.9em;
  }
}

#about-block {
  background-color: $bg-color-inverted;

  h2, h3, h4 {
    line-height: 0.9em;
  };

}

%social {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin: $padding * 0.125;
  margin-top: $padding * 1;
}

#twitter {
  @extend %social;
  background-image: url(../assets/twitter.svg)
}

#facebook {
  @extend %social;
  background-image: url(../assets/facebook.svg)
}

.profile {
  display: inline-block;
  position: absolute;
  transition: width $animation-time, height $animation-time, top $animation-time, left $animation-time;
  overflow: hidden;
}
