.directors {
  top: 4rem;
  padding: 1rem 2rem 1rem 1rem;
  background-color: $bg-color-inverted;
  height: auto;
}
//
// .directors.grid-featured {
//   .profile-image {
//     height: 14em !important;
//     width: 14em !important;
//   }
// }
#director-wall {
  top: 2rem;
}
