%splash {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0em;
  left: 0em;
  pointer-events: none;
}

#home-page {
  @extend %splash;

  display: flex;
  justify-content: center;
  align-items: center;

  #splash-title {
    font-size: 15vw !important;
  }

}

#gear-background {
  @extend %splash;
  opacity: 0.5;
}

#just-clicks-link {
  position: absolute;
  pointer-events: auto;
  right: 1rem;
  bottom: 1rem;
  h2 {
    display: inline-block;
  }
}

.splash-social-media {
  position: absolute;
  pointer-events: auto;
  left: 1rem;
  bottom: 1rem;
}

#just-clicks-button {
  width: 1rem;
  height: 1rem;
  fill: $text-color;
  transition: fill $animation-time, transform $animation-time;
}

#just-clicks-link:hover {
  #just-clicks-button {
    fill: $text-color-hover;
    transform: scale(1.5,1.5);
  }
}
