
$video-width: 42rem;

#video {

  position: fixed;
  margin-left: -$video-width * 0.5;
  left: 50%;
  top: $links-height * 2;

  .product-video {
    iframe {
      height: $video-width * (9/16);
      width: $video-width;
    }
  }

  .product-title {
    color: $text-color-inverted;
    background-color: $bg-color-inverted;
    margin-top: -0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;

  }

  .product-title.inverse {

  }

}
