@mixin about-containing-block {
	min-width: 320px;
  	margin-left: auto;
  	margin-right: auto;
  	@include phablet {
    	max-width: 768px;
  	}
  	@include desktop {
    	max-width: 1024px;
  	}
  	@include big-desktop {
    	max-width: 1440px;
  	}
}

.about-page {
	background: #E29F9F;
	max-width: 100%;
	.header {
		@include about-containing-block;
	}
	.header-content {
		@include block-spacing;
	}
	.footer {
		@include about-containing-block;
	}
	.footer-content {
		@include block-spacing;	
	}
}

.about-containing-block {
	@include about-containing-block;
}

.about-header {
	@include block-spacing;
}

.about-content {

	h1,h2,h3 {
		color: #fff;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		line-height: 1;
		font-weight: 100;
		padding-bottom: 12px;
		widows: 3;
	}

	h1 {
		font-size: 24px;
		@include phablet {
	    	font-size: 36px;
	  	}
	  	@include desktop {
	    	font-size: 48px;
	  	}
	  	@include big-desktop {
	    	font-size: 74px;
	  	}
	}

	h2 {
		font-size: 18px;
	  	@include phablet {
	    	font-size: 24px;
	  	}
	  	@include desktop {
	    	font-size: 30px;
	  	}
	  	@include big-desktop {
	    	font-size: 46px;
	  	}
	}

	h3 {
		font-size: 14px;
	  	@include phablet {
	    	font-size: 18px;
	  	}
	  	@include desktop {
	    	font-size: 24px;
	  	}
	  	@include big-desktop {
	    	font-size: 38px;
	  	}
	}

	p {
		@include block-spacing;
		margin-top: 24px !important;
		widows: 3;
	}

	padding-bottom: $spacing-unit*3.5;

}

.about-studio-image {
	background: url(/images/studio_shot.jpg) center center;
	background-size: auto 100%;
	height: 170px;
	margin-top: $spacing-unit*2;
  	@include phablet {
  		height: 226px;
    	margin-top: $spacing-unit * 3;
  	}
  	@include desktop {
  		height: 226px;
    	margin-top: $spacing-unit * 4.5;
  	}
}

.about-header-image {
	display: block;
	position: relative;
	background: url(/images/wrench.gif) center center;
	background-size: auto 100%;
	height: 152px;
	margin-top: $spacing-unit*2;
  	@include phablet {
  		height: 152px;
    	margin-top: $spacing-unit * 3;
  	}
  	@include desktop {
  		height: 203px;
    	margin-top: $spacing-unit * 4.5;
  	}
  	@include big-desktop {
  		height: 286px;
    	margin-top: $spacing-unit * 4.5;
  	}
  	&:hover {
		.about-header-btn:before {
			border-left: 108px solid #fff;
		}
		.about-header-btn:after {
			border-left: 98px solid #FF7D7D;
		}
	}
}

.about-header-btn {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -48px;
	margin-left: -54px;
	&:before {
		display: block;
		content: "";
		width: 0; 
		height: 0; 
		border-top: 48px solid transparent;
		border-bottom: 48px solid transparent;
		border-left: 108px solid #979797;
	}
	&:after {
		position: absolute;
		top: 4px; left: 3px;
		display: block;
		content: "";
		width: 0; 
		height: 0; 
		border-top: 44px solid transparent;
		border-bottom: 44px solid transparent;
		border-left: 98px solid white;
	}
	
	
}
