@import 'vars';
@import 'mixins';

select { 
  padding: $spacing-unit $spacing-unit $spacing-unit/2;
  line-height: 1;
  padding-right: $spacing-unit*6;
  border-radius: 0;
  border: 1px solid $brown;
  background: $brown;
  color: $white;
  width: 110%;
  font-family:'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
  font-weight: 300;
  // Hide the arrow
  appearance: normal;
  -webkit-appearance: none;
  
  // Hide the arrow on Firefox
  // http://stackoverflow.com/questions/6787667/what-is-the-correct-moz-appearance-value-to-hide-dropdown-arrow-of-a-select#answer-18327666
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  
  // Hide the arrow on IE
  &::-ms-expand {
      display: none;
  }

  -moz-user-focus:ignore;  
  &:focus {
      outline: none;
  }
  &::-moz-focus-inner {
      border: 0;
  }

  &:hover {
    cursor:pointer;
  }

  &:focus {
    cursor:pointer;
  }
}

.gm-select {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 401px;
  &:after {
    content:"";
    pointer-events:none; //so it doesn't block the select
    display:block; 
    border: 12px solid rgba(0, 0, 0, 0);
    border-top: 16px solid $bg-color;
    position: absolute;
    top:50%; right:10px; 
    margin-top: -7px;
  }
}