@import 'vars';
@import 'mixins';

.video-controls {
  @include block-spacing;
  h1 {
    font-size: 24px;
    font-weight: 300;
  }
  .video-portfolio {
    transition: all .15s ease-in-out;
    border: 1px solid $brown;
    padding: 7px $spacing-unit 2px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background: $brown;
      color: $white;
    }
  }
}

.video-count {
  display: inline-block;
  padding: $spacing-unit 0;
}

.next-video {
  padding-left: $spacing-unit*2;
}

.prev-video {
  padding-right: $spacing-unit*2; 
}

.video-player {
  margin: $spacing-unit 0;
  padding-bottom: 56.25%; //so that we maintain a 16:9 aspect ratio
  @include phablet {
    margin: $spacing-unit * 3;
    padding-bottom: 52%; //so that we maintain a 16:9 aspect ratio
  }
  @include desktop {
    margin: $spacing-unit * 4.5;
  }
  position: relative; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  margin-bottom: 32px;
  iframe, object, embed { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
  }
}