/***********************************************************************
Vars & Mixins
************************************************************************/
/***********************************************************************
General
************************************************************************/
* {
  box-sizing: border-box; }
  *:focus {
    outline: none;
    outline: 0; }

html {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  max-width: 980px;
  margin: 0 auto;
  background: #A3937D;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #402A27; }

a {
  color: #402A27; }

select {
  padding: 4px 8px;
  line-height: 1;
  padding-right: 48px;
  border-radius: 0;
  border: 1px solid #402A27;
  background: #402A27;
  color: #fff;
  width: 100%;
  appearance: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-user-focus: ignore;
  text-indent: 0.01px;
  text-overflow: ''; }
  select::-ms-expand {
    display: none; }
  select:focus {
    outline: none; }
  select::-moz-focus-inner {
    border: 0; }
  select:hover {
    border-color: #fff;
    cursor: pointer; }
  select:focus {
    cursor: pointer;
    border-color: #fff; }

.gm-select {
  position: relative;
  display: inline-block;
  width: 100%; }
  @media (min-width: 480px) {
    .gm-select {
      width: 50%;
      width: calc(50% - 8px); } }
  @media (min-width: 768px) {
    .gm-select {
      width: 33.333%;
      width: calc(33.333% - 8px); } }
  .gm-select:after {
    content: "";
    pointer-events: none;
    display: block;
    border: 12px solid transparent;
    border-top: 16px solid #A3937D;
    position: absolute;
    top: 10px;
    right: 10px; }

/***********************************************************************
Header
************************************************************************/
.header {
  display: block;
  text-decoration: none;
  margin: 16px; }
  @media (min-width: 480px) {
    .header {
      margin: 16px; } }
  @media (min-width: 768px) {
    .header {
      margin: 32px; } }

.logo--header {
  font-size: 0;
  width: 256px;
  height: 62px;
  background: url(/images/logo_lrg.png) no-repeat;
  background-size: 256px 62px;
  background-size: fit; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .logo--header {
      background-image: url(/images/logo_lrg@2x.png); } }

.tagline {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase; }

/***********************************************************************
Content
************************************************************************/
/*---- Portfolio Index  -----*/
.portfolio-selector-container {
  margin: 16px; }
  @media (min-width: 480px) {
    .portfolio-selector-container {
      margin: 16px; } }
  @media (min-width: 768px) {
    .portfolio-selector-container {
      margin: 32px; } }
  .portfolio-selector-container select {
    font-size: 24px; }

.portfolio-videos {
  margin: 16px;
  list-style-type: none; }
  @media (min-width: 480px) {
    .portfolio-videos {
      margin: 16px; } }
  @media (min-width: 768px) {
    .portfolio-videos {
      margin: 32px; } }

.video-thumbnail {
  padding-bottom: 8px;
  text-decoration: none; }
  @media (min-width: 480px) {
    .video-thumbnail {
      display: inline-block;
      width: 50%;
      padding-right: 8px; } }
  @media (min-width: 768px) {
    .video-thumbnail {
      width: 33.333%; } }

.video-name {
  margin: 8px 0;
  display: block;
  color: #402A27; }

.video-poster {
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-bottom: 100%; }
  .video-poster img {
    display: none; }

/*---- Video Detail  -----*/
.video-controls {
  margin: 16px; }
  @media (min-width: 480px) {
    .video-controls {
      margin: 16px; } }
  @media (min-width: 768px) {
    .video-controls {
      margin: 32px; } }
  .video-controls h1 {
    font-size: 24px;
    font-weight: normal; }
  .video-controls .video-portfolio {
    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
    border: 1px solid #402A27;
    padding: 7px 8px 2px;
    line-height: 1;
    display: inline-block;
    text-decoration: none; }
    .video-controls .video-portfolio:hover {
      background: #402A27;
      color: #fff; }

.video-player {
  margin: 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 32px; }
  @media (min-width: 480px) {
    .video-player {
      margin: 16px; } }
  @media (min-width: 768px) {
    .video-player {
      margin: 32px; } }
  .video-player iframe, .video-player object, .video-player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/***********************************************************************
Footer
************************************************************************/
.footer {
  margin: 16px; }
  @media (min-width: 480px) {
    .footer {
      margin: 16px; } }
  @media (min-width: 768px) {
    .footer {
      margin: 32px; } }

.logo--footer {
  font-size: 0;
  width: 167px;
  height: 40px;
  background: url(/images/logo_sm.png) no-repeat;
  background-size: 167px 40px;
  margin-bottom: 24px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .logo--footer {
      background-image: url(/images/logo_sm@2x.png); } }

.address, .contact {
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 24px; }

/*# sourceMappingURL=main.css.map */