//disables play button for mobile
video::-webkit-media-controls-start-playback-button {
  display: none;
}

#video-background-overlay {
  position: fixed;

  top: 0em;
  left: 0em;

  width: 100%;
  height: 100%;

  z-index: -99;

  background-image: url(../assets/overlay-texture.png);
  background-color: rgba(0,0,0,0.0);

  transition: background-color $animation-time, background-color $animation-time, background-image $animation-time;
}

#video-background-overlay.inverse {
  background-image: none;
  background-color: $bg-color-inverted;
}

#video-background {
  position: fixed;

  top: 50%;
  left: 50%;

  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  z-index: -100;

  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
