$links-height: $padding + 2rem;
$home-link-width: 13.5rem;
$home-icon-dim: 2rem;
$nut-time: $animation-time * 1;

#links {
  height: $links-height;
  position: relative;
  z-index: 500;

  #home-link {

    overflow: hidden;
    width: $home-icon-dim;
    transition: width $nut-time;

    #home-nut {
      position: absolute;
      transition: width $nut-time, height $nut-time, opacity $nut-time, fill $nut-time;
      width: $home-icon-dim;
      height: $home-icon-dim;
    }

    #home-link-mask {

      #home-link-title {
        display: inline-block;
        margin-left: $home-icon-dim;
      };

      display: inline-block;
      width: $home-link-width;
    }

  }

  #home-link.active {
    // this width needs to be $home-link-width on private pages
    // width: $home-link-width;

    #home-nut {
      @extend %splash;
      position: absolute;
      opacity: 0.5;
      fill: $text-color;
    }
  }

  .link {
    margin-left: $padding;
  }

}
