$home-link-width: 17.5rem;
$home-icon-dim: 1.925rem;
$nut-time: $animation-time * 1;
$nav-font-size: 1.1rem;

#links {
  position: absolute;
  left: 0rem;
  right: 0rem;
  z-index: 500;
  font-size: $nav-font-size;

  height: $links-height;

  #home-link {

    overflow: hidden;
    width: $home-icon-dim;
    transition: width $nut-time;

    #home-nut {
      position: absolute;
      top: $padding + 0.245rem;
      transition: width $nut-time, height $nut-time, opacity $nut-time, fill $nut-time;

      width: $home-icon-dim;
      height: $home-icon-dim;

      z-index: 1000;
    }

    #home-link-mask {

      #home-link-title {
        transition: color $animation-time;
        margin-left: $home-icon-dim + 0.25rem;
        // font-size: $nav-font-size;
      };

      display: inline-block;
      width: $home-link-width;
      height: $home-icon-dim;
    }

  }

  #home-link.active {

    #home-nut {
      @extend %splash;
      position: absolute;
      opacity: 0.5;
      z-index: 1000;
      fill: $text-color;
    }
  }

  .link {
    margin-left: $padding * 2;
    transition: color $animation-time, transform $animation-time;
  }

}

#links.private {
  overflow: hidden;

  #home-link {
    width: $home-link-width;
  }

  .link {
    transform: translate(50vw,0vw);
    pointer-events: none;
  }
}

#pages {
  overflow-x: hidden;
}
