.nut {
  fill: $text-color;
  transition: fill $animation-time;
}

.clickable.active,.clickable:hover {
  .nut {
    fill: $text-color-inverted-hover;
  }
}

.inverse {
  .clickable.active,.clickable:hover {
    .nut {
      fill: $text-color-inverted-hover;
    }
  }
}
