.profile {
  position: absolute;
  overflow: hidden;

  transition: opacity $animation-time, width $animation-time, height $animation-time,
    top $animation-time, left $animation-time, transform $animation-time;

  .profile-image {
    transition: height $animation-time, width $animation-time,
      transform $animation-time, background-image $animation-time;
    cursor: pointer;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }

  .profile-image:hover {
    transform: scale(1.25,1.25)
  }

  .profile-writeup {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -0.35rem;
  }

}

.profile.profile-featured {
  position: relative;
  cursor: default;
  // overflow: auto;
  display: flex;

  .profile-image {
    transform: scale(1,1);
    cursor: default;
    width: 9em;
    height: 9em;
    flex-shrink: 0;
  }

}

.profile.profile-hidden {
  transform: scale(0,0);
}
