$panim-time: $animation-time * 2;
$video-width: 40rem;

.product-cell {

  position: absolute;

  background-size: cover;
  background-position: center;
  background-color: #aaa;
  background-repeat: no-repeat;
  opacity: 1;

  cursor: pointer;

  transition: opacity $panim-time, width $panim-time, height $panim-time,
    top $panim-time, left $panim-time, background-image $animation-time;

}

.product-cell:hover {
  opacity: 0.5;
}

.product-cell.product-cell-disabled {
  cursor: default;
  pointer-events: none;
}

.product-feature {
  .product-modal {
    position: fixed;
    background-color: black;
    pointer-events: none;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    z-index: 2000;
    cursor: pointer;

    opacity: 0;

    transition: bottom $animation-time, opacity $animation-time;
  }

  .product-detail {

    position: absolute;
    display: inline-block;
    pointer-events: none;

    background-color: $text-color;
    z-index: 2500;

    margin-left: -$video-width * 0.5;
    left: 50%;
    top: 5rem;
    opacity: 0;

    transition: opacity $animation-time, height $panim-time;
    width: $video-width;

    .product-video {
      iframe {
        width: $video-width;
        height: $video-width * (9/16);
      }

      height: 0rem;
      transition: height $panim-time;
      overflow: hidden;

    }

    .product-description {
      color: $text-color-inverted;
      width: $video-width - 1rem;
      display: block-inline;

      padding: 0.50rem;
      padding-left: 0.55rem;
      padding-top: 0rem;
      -webkit-margin-before: 0rem;
      -webkit-margin-after: 0rem;
      transition: top $panim-time;
    }

    .product-title {
      color: $text-color-inverted;
      padding: 0.25rem;
      padding-left: 0.55rem;
    }
  }

}

.product-feature.product-feature-show {
  .product-modal {
    opacity: 0.5;
    pointer-events: auto;
  }

  .product-detail {
    pointer-events: auto;
    opacity: 1;

    .product-video {
      height: $video-width * (9/16);
    }
  }

  .product-detail:hover {
    .product-description {
    }
  }
}


.showcase.grid {
  background-color: $bg-color-inverted;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  height: 100vh;

}
