.left {
  float: left;
}

.right {
  float: right;
}

.padded {
  padding: $padding;
}

.clickable {
  cursor: pointer;
  transition: color $animation-time;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.grayscale {
  filter: grayscale(100%);
}

$links-clearance: $links-height + $padding * 2;
