.left {
  float: left;
}

.right {
  float: right;
}

.padded {
  padding: $padding;
}

.clickable {
  cursor: pointer;
  transition: color $animation-time;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.fill.inverse {
  background-color: $bg-color-inverted;
  height: 100%;
}

$links-clearance: $links-height + $padding * 2;
