@font-face {
  font-family: 'Bebas-Neue-Regular';
  src: url('../assets/bebasneue-webfont.woff2') format('woff2'),
       url('../assets/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../assets/AvenirNextLTPro-Light.eot');
	src: url('../assets/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/AvenirNextLTPro-Light.woff') format('woff'),
		url('../assets/AvenirNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

$title-font: 'Bebas-Neue-Regular';
$body-font: 'AvenirNext LT Pro';

html {
  font-family: $body-font;
  font-size: $root-font-size;
  overflow-y: scroll;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  letter-spacing: 0em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

a {
  color: $text-color;
  text-decoration: none;
}
