$animation-time: 500ms;

$root-font-size: 1.25em;

$padding: 0.8rem;

$text-color: #fff;
$text-color-inverted: #000;
$text-color-inverted-hover: #aaa;

$bg-color: transparent;
$bg-color-inverted: #fff;
