$large-width: 1500px;

$med-width: 1200px;

$small-width: 800px;

$mini-width: 500px;

$animation-time: 250ms;

$root-font-size: 1.25em;

$padding: 0.8rem;

$links-height: 2.4000000000000004rem;

$text-color: #fff;
$text-color-hover: #aaa;
$text-color-inverted: #000;

$bg-color: transparent;
$bg-color-inverted: #fff;
