$time: 300ms;

$root-font-size: 1.25em;

$offset: 0.8rem;

$light: #fff;

$dark: #000;

$soft-light: #ddd;
$soft-dark: #555;
$success: #2ba82d;

$neutral: #2b85a8;

$warning: #d89d13;

$error: #ff5a3d;
