#about-page.navigate-enter {

  position: absolute;
  top: -100vh;

  #our-team-section {
    overflow: hidden;
    height: 0px;
  }
}

#about-page.navigate-enter-active {

  position: absolute;
  top: -100vh;
  transition: top, 250ms;

  #our-team-section {
    height: auto;
    transition: height, 250ms;
  }
}

#about-page {

  .title.large {
    // max-width: $large-width * 1.4;

    @media screen and (max-width: $med-width) {
      max-width: $med-width;
    }

    @media screen and (max-width: $small-width) {
      max-width: $small-width;
    }

    @media screen and (max-width: $mini-width) {
      max-width: $mini-width;
    }
  }
}

#bottom-info {
  .title {
    letter-spacing: 0.5px;
  }
}

.about-stick {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  // #bottom-info {
  //   position: absolute;
  //   bottom: $padding;
  // }
}
