.left {
  float: left;
}

.right {
  float: right;
}

p, a {
  color: $text-color;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
  transition: color $transition-time;
}

.clickable.active,.clickable:hover {
  color: $inverted-text-color;
}

.inverse {
  p, a {
    color: $inverted-text-color;
  }

  .clickable.active,.clickable:hover {
    color: $inverted-text-hover-color;
  }
}

.fill {
  width: 100%;
  background-color: $bg-color;
}

.fill.inverse {
  width: 100%;
  background-color: $inverted-bg-color;
}

.padded {
  padding-left: $padding;
  padding-right: $padding;
}

.padded-bottom {
  padding-bottom: $padding;
}

.padded-top {
  padding-top: $padding;
}

.mini-width {
  @extend .padded;
  max-width: $mini-width;
}

.small-width {
  @extend .padded;
  max-width: $small-width;
}

.med-width {
  @extend .padded;
  max-width: $med-width;
}

.large-width {
  @extend .padded;
  max-width: $large-width;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.block {
  overflow: hidden;
}

//disables play button for mobile
video::-webkit-media-controls-start-playback-button {
  display: none;
}

.bulge {
  transform: scale(1,1);
  transition: transform $transition-time !important;
}

.bulge:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.05,1.05) !important;
}
