
$nav-holder-size: $title-size * 2 + $padding;

#nav-holder {
  display: block;
  height: $nav-holder-size;

  @media screen and (max-width: $med-width) {
    height: $nav-holder-size * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    height: $nav-holder-size * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    height: $nav-holder-size * $mini-mult;
  }
}

.nav-link {

  margin-top: $padding;
  margin-right: $padding;

  @media screen and (max-width: $med-width) {
    margin-top: $padding * $med-mult;
    margin-right: $padding * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    margin-top: $padding * $small-mult;
    margin-right: $padding * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    margin-top: $padding * $mini-mult;
    margin-right: $padding * $mini-mult;
  }

}

.nav-home {

  background-image: url(../assets/nut-white.svg);
  transition: background-image $transition-time;

  width: $title-size;
  height: $title-size;

  margin-top: $padding;
  margin-left: $padding;

  @media screen and (max-width: $med-width) {
    width: $title-size * $med-mult;
    height: $title-size * $med-mult;
    margin-top: $padding * $med-mult;
    margin-left: $padding * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    width: $title-size * $small-mult;
    height: $title-size * $small-mult;
    margin-top: $padding * $small-mult;
    margin-left: $padding * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    width: $title-size * $mini-mult;
    height: $title-size * $mini-mult;
    margin-top: $padding * $mini-mult;
    margin-left: $padding * $mini-mult;
  }

}

.nav-home:hover {
  background-image: url(../assets/nut-black.svg);
}

#nav-holder.inverse {

  .nav-home {
    background-image: url(../assets/nut-black.svg);
  }

  .nav-home:hover {
    background-image: url(../assets/nut-gray.svg);
  }

}
