$nav-padding: 15px;
$home-icon: 30px;

.page-nav {
  width: 100vw;
  display: block;
  padding-right: $nav-padding;

  transition: background-color 0.25s;

  .active {
    color: black;
    text-decoration: none;
  }

  .active.inverse {
    color: gray;
  }

  .page-nav-home.active {
    background-image: none;
  }
}
.page-nav.inverse {
  background-color: white;
}

.page-nav-item {
  float: right;
  margin-left: $nav-padding;
  color: white;
  text-decoration: none;
  font-family: "Bebas-Neue-Regular";

  transition: color 0.25s;
}
.page-nav-item.inverse {
  color: black;
}
.page-nav-item:hover {
  color: gray;
  text-decoration: none;
}
.page-nav-item.inverse:hover {
  color: black;
  text-decoration: none;
}

.page-nav-home {
  float: left;
  margin: $nav-padding * 0.5;
  padding-left: 32px;
  height: $home-icon;
  width: $home-icon;
  transition: background-image 0.25s;
//  transition: opacity 0.25s;

  background-image: url(../assets/nut-white.svg);
}
.page-nav-home.inverse {
  background-image: url(../assets/nut-black.svg);
}
.page-nav-home:hover {
  background-image: url(../assets/nut-gray.svg);
}
.page-nav-home.inverse:hover {
  background-image: url(../assets/nut-black.svg);
}
