
$nav-holder-size: $title-size * 1 + $padding;

#nav-holder {
  display: block;
  height: $nav-holder-size;

  @media screen and (max-width: $med-width) {
    height: $nav-holder-size * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    height: $nav-holder-size * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    height: $nav-holder-size * $mini-mult;
  }
}

.nav-link {

  margin-top: $padding;
  margin-right: $padding * 1.5;
  font-size: $nav-link-size;
  transition: opacity $transition-time;

  @media screen and (max-width: $med-width) {
    margin-top: $padding * $med-mult;
    margin-right: $padding * $med-mult;
    font-size: $nav-link-size * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    margin-top: $padding * $small-mult;
    margin-right: $padding * $small-mult;
    font-size: $nav-link-size * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    margin-top: $padding * $mini-mult;
    margin-right: $padding * $mini-mult;
    font-size: $nav-link-size * $mini-mult;
  }

}

.nav-link.hidden {
  opacity: 0;
  pointer-events: none;
}

$nut-margin-top: $padding * 0.8;
.nav-home {

  background-image: url(../assets/nut-white.svg);
  transform: scale(1,1);
  transition: background-image $transition-time, transform $transition-time;

  width: $nav-link-size;
  height: $nav-link-size;

  margin-top: $nut-margin-top;
  margin-left: $padding;

  @media screen and (max-width: $med-width) {
    width: $nav-link-size * $med-mult;
    height: $nav-link-size * $med-mult;
    margin-top: $nut-margin-top * $med-mult;
    margin-left: $padding * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    width: $nav-link-size * $small-mult;
    height: $nav-link-size * $small-mult;
    margin-top: $nut-margin-top * $small-mult;
    margin-left: $padding * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    width: $nav-link-size * $mini-mult;
    height: $nav-link-size * $mini-mult;
    margin-top: $nut-margin-top * $mini-mult;
    margin-left: $padding * $mini-mult;
  }

}

.nav-home {
  span {
    position: relative;
    left: 0.9em;
    top: -0.0125em;
  }
}

.nav-home:hover {
  background-image: url(../assets/nut-gray.svg);
  transform: scale(1.1,1.1);
}

.nav-home.active {
  background-image: url(../assets/nut-gray.svg);
}

#nav-holder.inverse {

  .nav-home {
    background-image: url(../assets/nut-black.svg);
  }

  .nav-home:hover, .nav-home.active {
    background-image: url(../assets/nut-gray.svg);
  }

}
