.page {
  p {
    padding-left: $padding;
    padding-right: $padding;
    max-width: $med-width;
  }
}

.page.navigate-enter {
  max-height: 0vh;
  overflow: hidden;
}

.page.navigate-enter-active {
  max-height: 100vh;
  transition: max-height $transition-time ease-in-out;
}

.page.navigate-leave {
  max-height: 100vh;
  overflow: hidden;
}

.page.navigate-leave-active {
  max-height: 0vh;
  transition: max-height $transition-time ease-in-out;
}

//
// .page.navigate-enter {
//   position: relative;
//   top: -100vh;
// }
//
// .page.navigate-enter-active {
//   position: relative;
//   top: 0vh;
//   transition: top $transition-time ease-in-out;
// }
//
// .page.navigate-leave {
//   position: relative;
//   top: 0vh;
// }
//
// .page.navigate-leave-active {
//   position: relative;
//   top: 100vh;
//   transition: top $transition-time ease-in-out;
// }
//
// .page.navigate-enter {
//   opacity: 0;
//
// }
//
// .page.navigate-enter-active {
//   opacity: 1;
//   transition: opacity $transition-time ease-in-out;
// }
//
// .page.navigate-leave {
//   opacity: 1;
// }
//
// .page.navigate-leave-active {
//   opacity: 0;
//   transition: opacity $transition-time ease-in-out;
// }
