.page {
  p {
    @extend .med-width;
  }
}

.staff-picture {

  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.675;
  cursor: pointer;

  transition: opacity $transition-time;
}

.staff-picture:hover {
  opacity: 1;
}

.staff-picture.featured {
  opacity: 1;
}

.page.navigate-enter {
  opacity: 0;
}

.page.navigate-enter-active {
  opacity: 1;
  transition: opacity $transition-time ease-in-out;
}

.page.navigate-leave {
  opacity: 1;
}

.page.navigate-leave-active {
  opacity: 0;
  transition: opacity $transition-time ease-in-out;
}
