#splash-page {

  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 15vw;
  }

  font-family: $title-font;
  color: $text-color;
  text-transform: uppercase;

  z-index: -50;

}

#splash-page.navigate-enter {
  top: -100vh;

  #splash-background {
    transform: scale(0,0);
  }
}

#splash-page.navigate-enter.navigate-enter-active {
  top: 0vh;
  transition: top $transition-time ease-out;

  #splash-background {
    transform: scale(1,1);
    transition: transform $transition-time;
  }
}

#splash-page.navigate-leave {
  transform: scale(1,1);
  opacity: 1;

  #splash-background {
    opacity: 1;
  }
}

#splash-page.navigate-leave.navigate-leave-active {
  transform: scale(4,4);
  opacity: 0;

  #splash-background {
    opacity: 0;
    transition: opacity $transition-time;
  }
  transition: transform $transition-time, opacity $transition-time, ease-out;
}

#just_clicks_button {
  position: fixed;
  right: $padding * 1.5;
  bottom: $padding;
}

$play-button-width: 18px;
$play-button-height: $play-button-width;

.play-button {

  display: inline-block;
  background-image: url(/assets/play-button-white.svg);
  background-repeat: no-repeat;
  background-position: center;

  transform: scale(1,1);
  transition: transform $transition-time, background-image $transition-time;

  width: $play-button-width;
  height: $play-button-height;

  @media screen and (max-width: $med-width) {
    width: $play-button-width * $med-mult;
    height: $play-button-height * $med-mult;
  }
  @media screen and (max-width: $small-width) {
    width: $play-button-width * $small-mult;
    height: $play-button-height * $small-mult;
  }
  @media screen and (max-width: $mini-width) {
    width: $play-button-width * $mini-mult;
    height: $play-button-height * $mini-mult;
  }
}

.clickable:hover {
  transition: color $transition-time;
  .play-button {
    background-image: url(/assets/play-button-gray.svg);
    transform: scale(1.25,1.25);
  }
}
