@font-face {

  font-family: 'Bebas-Neue-Regular';
  src: url('../assets/bebasneue-webfont.woff2') format('woff2'),
       url('../assets/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../assets/AvenirNextLTPro-Light.eot');
	src: url('../assets/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/AvenirNextLTPro-Light.woff') format('woff'),
		url('../assets/AvenirNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

$title-font: "Bebas-Neue-Regular";
$body-font: "AvenirNext LT Pro";

.text {
  letter-spacing: $title-kerning;
  transition: font-size $transition-time;
}

.italic {
  font-style: italic;
}

.title {
  @extend .text;
  line-height: 0.9em;

  font-family: $title-font;
  font-size: $title-size;
  text-transform: uppercase;

  margin: 0px;

  @media screen and (max-width: $med-width) {
    font-size: $title-size * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $title-size * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    font-size: $title-size * $mini-mult;
  }

}

.title.mini {
  line-height: 0.9em;
  font-size: $title-size * $mini-mult;
  @media screen and (max-width: $med-width) {
    font-size: $title-size * $med-mult * $mini-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $title-size * $small-mult * $mini-mult;
  }

  @media screen and (max-width: $mini-width) {
    font-size: $title-size * $mini-mult * $mini-mult;
  }
}

.title.small {
  line-height: 0.9em;
  font-size: $title-size * $small-mult;
  @media screen and (max-width: $med-width) {
    font-size: $title-size * $med-mult * $small-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $title-size * $small-mult * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    font-size: $title-size * $mini-mult * $small-mult;
  }
}

.title.medium {
  line-height: 0.9em;
  font-size: $title-size * $med-mult;
  @media screen and (max-width: $med-width) {
    font-size: $title-size * $med-mult * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $title-size * $small-mult * $med-mult;
  }

  @media screen and (max-width: $mini-width) {
    font-size: $title-size * $mini-mult * $med-mult;
  }
}

.title.large {
  line-height: 0.9em;
  font-size: $title-size * $large-mult;
  // font-size: $title-size * $large-mult;
  @media screen and (max-width: $med-width) {
    // font-size: $title-size * $med-mult * $large-mult;
    font-size: 7.5vw;
  }
  //
  // @media screen and (max-width: $small-width) {
  //   font-size: $title-size * $small-mult * $large-mult;
  // }
  //
  // @media screen and (max-width: $mini-width) {
  //   font-size: $title-size * $mini-mult * $large-mult;
  // }
}


.body {
  @extend .text;
  line-height: 1.25em;

  font-family: $body-font;
  font-size: $body-size;

  @media screen and (max-width: $med-width) {
    font-size: $body-size * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $body-size * $small-mult;
  }

}

.body.mini {
  font-size: $body-size * $mini-mult;
  line-height: 1.25em;

  @media screen and (max-width: $med-width) {
    font-size: $body-size * $med-mult * $mini-mult;
  }

  @media screen and (max-width: $small-width) {
    font-size: $body-size * $small-mult * $mini-mult;
  }

}

.grey {
  color: $inverted-text-hover-color !important;
}
