$large-width: 1400px;
$med-width: 1100px;
$small-width: 800px;
$mini-width: 500px;

$title-size: 62px;
$title-kerning: 0px;
$body-size: 22px;
$body-kerning: inherit;

$padding: 20px;

$med-mult: 0.8;
$small-mult: 0.675;
$mini-mult: 0.425;

$text-color: white;
$inverted-text-color: black;
$inverted-text-hover-color: gray;

$bg-color: transparent;
$inverted-bg-color: $text-color;
$overlay-opacity: 0.6;

$transition-time: 500ms;
