$large-width: 1500px;
$med-width: 1200px;
$small-width: 800px;
$mini-width: 500px;

$title-size: 62px;
$title-kerning: 0px;
$body-size: 28px;
$body-kerning: inherit;

$padding: 20px;

$med-mult: 0.75;
$small-mult: 0.50;
$mini-mult: 0.36;

$text-color: white;
$inverted-text-color: black;
$inverted-text-hover-color: #aaa;

$bg-color: transparent;
$inverted-bg-color: $text-color;
$overlay-opacity: 0.6;

$gm-brand: #e29f9f;

$video-width: 960px;
$video-height: 540px;

$dropdown-font-size: 120px;
$dropdown-caret-width: 32px;
$dropdown-caret-height: 26px;

$transition-time: 500ms;
