
.video-page {

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: rgba(0,0,0,0.75);

}

.hack-image-viewer {
  margin: auto;
  display: block;

  padding-top: 0px;

  max-width: $large-width * $hack-image-factor;

  @media screen and (max-width: $med-width) {
    max-width: $med-width * $hack-image-factor;
  }

  @media screen and (max-width: $small-width) {
    max-width: $small-width * $hack-image-factor;
  }

  @media screen and (max-width: $mini-width) {
    max-width: $mini-width * $hack-image-factor;
  }
}

.video-player {

  width: $video-width;
  height: $video-height;
  padding-top: 0px;
  border: none;

  @media screen and (max-width: $med-width) {
    width: $video-width * $med-mult;
    height: $video-height * $med-mult;
  }

  @media screen and (max-width: $small-width) {
    width: $video-width * $small-mult;
    height: $video-height * $small-mult;
  }

  @media screen and (max-width: $mini-width) {
    width: $video-width * $mini-mult;
    height: $video-height * $mini-mult;
  }

  transition: width $transition-time, height $transition-time, padding-top $transition-time;

  margin: auto;
  display: block;
}
