$block-time: $animation-time * 2;

.block {
  position: absolute;
  overflow: hidden;
  background-color: #aaa;

  transition: opacity $block-time, width $block-time, height $block-time,
    top $block-time, left $block-time, transform $block-time;

  .block-image {
    transition: transform $block-time, background-image $block-time, opacity $block-time;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .block-image.grayscale {
    filter: grayscale(100%);
  }

  .block-image.clickable:hover {
    transform: scale(1.25,1.25)
  }

}
