.grid {
  position: relative;
  overflow: hidden;
  display: block;
  height: 0px;
  opacity: 1;
  transition: height $animation-time ease-in-out, opacity $animation-time;
}

.grid.hidden {
  height: 0px !important;
  pointer-events: none;
}


.page.navigate-enter .grid {
  height: 0px;
}

.page.navigate-leave.navigate-leave-active .grid {
  height: 0px;
}
